
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/shared/_Layout2.cshtml";
}
<h1>Booking</h1>
@if (ViewBag.QRCodeImage != null)
{
    <div class="alert alert-info">Your Booking Is Successfull..</div>
   
    <img src="@ViewBag.QRCodeImage" alt="Booking QR Code" style="height:200px; width:200px" />
}
else
{
    <div class="alert alert-danger">Sorry, Something Went Wrong While Processing Your Request...</div>
}
<br />
<br />
<a asp-action="Index" class="btn btn-success">Back To List</a>